html {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: flex;
  flex-direction: column;
}
a:hover {
  color: #ff8000;
}
header {
  background-color: #203040;
  color: #fff;
  padding: 30px 10px;
}
header a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #203040;
  color: #fff;
  padding: 10px;
  text-align: center;
}
main {
  height: 100vh;
}
