@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
.grid-container {
  display: flex;
  flex-direction: column;
}
a:hover {
  color: #ff8000;
}
header {
  background-color: #203040;
  color: #fff;
  padding: 30px 10px;
}
header a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #203040;
  color: #fff;
  padding: 10px;
  text-align: center;
}
main {
  height: 100%;
}
a{
  text-decoration: none;
}
/* product css */
.content{
  display: flex;
  flex-wrap: wrap;
}
.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}

/* products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button{
  text-align: center;
}
.product-price div{
  font-size: 2rem;
}
.button{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button:hover{
  border: 0.1rem #80c0c0 solid;
}
.button.primary{
  background-color: #f0c040;
}

/* Filter */
.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div{
  flex: 1;
}

/* Cart Section  */

.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img{
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div{
  padding: .5rem;
}
.cart-items li div:last-child{
  flex: 1;
}
.right{
  text-align: right;
}
.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div{
  font-size: 2rem;
}
.total >div,
.total > button{
  flex: 1;
}

/* checkout section  */

form{
  width: 100%;
}
.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
}